@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 240 75% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 40%;
    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 50%;
    --accent: 20 100% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 96%;
    --ring: 240 75% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 4% 5%;
    --foreground: 0 0% 100%;
    --card: 240 5% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 240 5% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 75% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 40%;
    --accent: 20 100% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 220 5% 13%;
    --ring: 240 75% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
